# Ignore all files in the "node_modules" directory
/node_modules/

# Ignore all ".min.js" files
**/*.min.js

# Ignore configuration files (e.g., .eslintrc.js, .prettierrc.js)
**/.eslintrc.js
**/.prettierrc.js

# Ignore log and cache files
*.log
*.cache

# Ignore version control files and directories
.git
.gitignore
.gitattributes
.svn
